.eightball, img{
    margin-left: 100px;
    align-items: center;
    display: flex;

}


.answer{
    text-align: center;
    padding-bottom: 20px;
}

.question{ 
    color: blue;
    text-align: center;
    padding-top: 20px;
}

.btn {
   color: rgb(0, 8, 8);
    align-self: center;
    margin-left: 449px;
    padding: 5px;
}



body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

